In [5]:
import pandas as pd
import random
import numpy as np

def get_excel_column(n):
    """Converts a positive integer n into its corresponding Excel column name."""
    name = ""
    while n > 0:
        n, remainder = divmod(n - 1, 26)
        name = chr(65 + remainder) + name
    return name

positions = [
    "Clinical Leader (CNL)", "First Nurse", "Resource Nurse", "Triage Nurse",
    "Front End Provider (FEP)", "Orange Pod", "Blue Pod", "Red Pod",
    "Green Pod", "Purple Pod", "iTrack", "EDOU", "Hallway"
]

admin_positions = {
    "Clinical Leader (CNL)", "First Nurse", "Resource Nurse", "Triage Nurse", "Front End Provider (FEP)"
}

# Number of nurses
num_nurses = 200

# Create a list to store nurse data
nurses_data = []

# Generate data for each nurse
for nurse_id in range(1, num_nurses + 1):
    nurse_name = get_excel_column(nurse_id)
    nurse_tier = random.randint(1, 9)
    
    # Choose allowed positions based on the nurse's tier
    if nurse_tier < 7:
        # Exclude the restricted positions for nurses below tier 7
        allowed_positions = [pos for pos in positions if pos not in admin_positions]
    else:
        # Nurses of tier 7 or higher can choose from all positions
        allowed_positions = positions
    
    positionpref = np.random.choice(allowed_positions)
    
    nurse = {
        "Nurse_ID": nurse_id,
        "Name": nurse_name,
        "Tier": nurse_tier,
        "Weekend Group": random.randint(1, 2),
        "Position Preference": positionpref
    }
    nurses_data.append(nurse)

# Create a DataFrame from the nurse data
df_nurses = pd.DataFrame(nurses_data)



# Optionally, save the data to a CSV file
df_nurses.to_csv("nurses_data.csv", index=False)

df_nurses

     Nurse_ID Name  Tier  Weekend Group Position Preference
0           1    A     4              1              iTrack
1           2    B     4              1                EDOU
2           3    C     1              1                EDOU
3           4    D     4              1                EDOU
4           5    E     4              1            Blue Pod
..        ...  ...   ...            ...                 ...
195       196   GN     5              1             Red Pod
196       197   GO     1              1             Hallway
197       198   GP     7              2                EDOU
198       199   GQ     5              2          Orange Pod
199       200   GR     4              2              iTrack

[200 rows x 5 columns]